<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.usedproduct.vo.BoardVO" alias="BoardVO" />
		<typeAlias type="com.usedproduct.vo.CategoryVO" alias="CategoryVO" />
		<typeAlias type="com.usedproduct.vo.MessageVO" alias="MessageVO" />

		<typeAlias type="com.usedproduct.vo.FileVO" alias="FileVO" />

		<typeAlias type="com.usedproduct.vo.MemberVO" alias="MemberVO" />

	</typeAliases>

</configuration>