<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- package-name : com.springboard.mapper, class-name : BoardMapper -->
<mapper namespace="com.usedproduct.mapper.BoardMapper">


	<insert id="insertBoard" parameterType="BoardVO">
		<!-- <selectKey keyProperty="no" resultType="int" order="AFTER" >
		 SELCT seq_product_no.currval FROM DUAL
		</selectKey>  -->
		INSERT INTO t_product ( T_NO, P_NAME, CG_NAME, P_PRICE, P_CONTENT, M_ID)
		VALUES (SEQ_PRODUCT_NO.nextval, #{name}, #{cgName}, #{price}, #{content}, #{userId} )
	</insert>

   	<resultMap type="BoardVO" id="boardMapa">
		<result column="T_NO" property="no" />
		<result column="D_STATE" property="state" />
		<result column="P_NAME" property="name" />
		<result column="P_PRICE" property="price" />
		<result column="M_ID" property="userId" />
		<result column="P_CONTENT" property="content" />
		<result column="P_delete" property="delete" />
		<result column="P_RDATE" property="rdate" />
		<result column="P_UDATE" property="udate" />
		<result column="CG_NAME" property="cgName" />
	</resultMap>

   <select id="selectBoardNo" parameterType="int" resultMap="boardMapa">
		SELECT T_NO, D_STATE, P_NAME, P_PRICE, M_ID, P_CONTENT, P_RDATE, P_UDATE, CG_NAME, P_delete
		FROM t_product
		WHERE T_NO = #{no}
	</select> 

	<resultMap id="CategoryMap" type="CategoryVO">
		<result column="cg_name" property="cgName" />
		<result column="cg_no" property="cgNo" />
	</resultMap>

	<select id="selectCategory" resultMap="CategoryMap">
		SELECT cg_name, cg_no FROM T_CATEGORY
	</select>
		
	
	<select id="selectBoard" resultType="BoardVO">
		SELECT t_no no
			, p_name name
			, p_price price
			, p_rdate rdate
			, p_udate udate
			, m_id userId
			, p_content content
		FROM t_product
		WHERE p_delete = '1'
		ORDER BY no DESC
	</select>
	
	<!-- sql : 재사용 할 수 있는 SQL 블럭 -->
	<sql id="searchCondition">
		<trim suffix="AND">
	    	<choose>
	    		<when test="searchType == 'T'.toString()">
	    			(a.p_name LIKE '%'||#{searchKey}||'%' OR a.m_id LIKE '%'||#{searchKey}||'%' OR b.s_name LIKE '%'||#{searchKey}||'%')
	    		</when>
	    		
	    		
	    	</choose>
		</trim>
	</sql>  
	
	 <select id="selectBoardWithPaging" 
			resultType="BoardVO" parameterType="hashmap">
		
		SELECT no 
		, name
		, price 		 
		, rdate 
		, udate 
		, "delete" 
		, userId 
		, siteName
		, content
		FROM 
		(
		    SELECT rownum idx
		     		, a.t_no no
		            , a.p_name name
					, a.p_price price
					, a.p_rdate rdate
					, a.p_udate udate
					, a.p_delete "delete"
					, a.p_content content
					, a.m_id userId
					, c.m_id memberId
					, c.s_no siteNo
					, b.s_no sNo
					, b.s_name siteName
		    FROM t_product a
		     INNER JOIN t_member c
		     on a.m_id = c.m_id
		     INNER JOIN t_site b
		     on c.s_no = b.s_no


		    WHERE    
		    	<include refid="searchCondition" />
		    	p_delete = '1'		    	
		    	AND <![CDATA[ rownum < #{ end } ]]>
		    	 		    	
		    ORDER BY a.t_no DESC
		)
		WHERE idx >= #{ beginning } 
		  
		
	</select> 
	<select id="selectBoardCount" parameterType="hashmap" resultType="int">
		SELECT COUNT(*)
		 FROM t_product a
		     INNER JOIN t_member c
		     on a.m_id = c.m_id
		     INNER JOIN t_site b
		     on c.s_no = b.s_no
		WHERE 
		<include refid="searchCondition" /> 
		p_delete = '1'
	</select>
	<update id="deleteBoard" parameterType="int">
		UPDATE t_product 
		SET p_delete = '0' 
		WHERE t_no = #{ no }
	</update>
	<update id="updateBoard" parameterType="BoardVO">
		UPDATE t_product
		SET p_name = #{ name }, p_price = #{ price }, cg_name = #{ cgName }, p_content = #{ content }, P_UDATE = sysdate
		WHERE t_no = #{ no }
	</update>

<!-- 	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM tbl_board 
		WHERE bno = #{ bno }
	</delete>
	
	<update id="deleteBoard" parameterType="int">
		UPDATE tbl_board
		SET deleted = '1' 
		WHERE bno = #{ bno }
	</update>
	
	<update id="updateBoard" parameterType="BoardVO">
		UPDATE tbl_board
		SET title = #{ title }, content = #{ content }, updatedate = sysdate 
		WHERE bno = #{ bno }
	</update>
	
	<update id="updateReadCount" parameterType="int">
		UPDATE tbl_board
		SET readcount = readcount + 1
		WHERE bno = #{ bno }
	</update>  -->
	
</mapper>



