<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- package-name : com.springboard.mapper, class-name : BoardMapper -->
<mapper namespace="com.usedproduct.mapper.BoardMapper">


	<insert id="insertBoard" parameterType="BoardVO">
		<!-- <selectKey keyProperty="no" resultType="int" order="AFTER" >
		 SELCT seq_product_no.currval FROM DUAL
		</selectKey>  -->
		INSERT INTO t_product ( T_NO, P_NAME, CG_NAME, P_PRICE, P_CONTENT, M_ID)
		VALUES (SEQ_PRODUCT_NO.nextval, #{name}, #{cgName}, #{price}, #{content}, #{userId} )
	</insert>

   	<resultMap type="BoardVO" id="boardMapa">
		<result column="T_NO" property="no" />
		<result column="D_STATE" property="state" />
		<result column="P_NAME" property="name" />
		<result column="P_PRICE" property="price" />
		<result column="M_ID" property="userId" />
		<result column="P_CONTENT" property="content" />
		<result column="P_delete" property="delete" />
		<result column="P_RDATE" property="rdate" />
		<result column="P_UDATE" property="udate" />
		<result column="CG_NAME" property="cgName" />
	</resultMap>

   <select id="selectBoardNo" parameterType="int" resultMap="boardMapa">
		SELECT T_NO, D_STATE, P_NAME, P_PRICE, M_ID, P_CONTENT, P_RDATE, P_UDATE, CG_NAME, P_delete
		FROM t_product
		WHERE T_NO = #{no}
	</select> 

	<resultMap id="CategoryMap" type="CategoryVO">
		<result column="cg_name" property="cgName" />
		<result column="cg_no" property="cgNo" />
	</resultMap>

	<select id="selectCategory" resultMap="CategoryMap">
		SELECT cg_name, cg_no FROM T_CATEGORY
	</select>
		
	
	<select id="selectBoard" resultType="BoardVO">
		SELECT t_no no
			, p_name name
			, p_price price
			, p_rdate rdate
			, p_udate udate
			, m_id userId
			, p_content content
		FROM t_product
		WHERE p_delete = '1'
		ORDER BY no DESC
	</select>
	
<!-- 	
	<insert id="insertBoard" parameterType="BoardVO">
		<selectKey keyProperty="bno" resultType="int" order="AFTER">
			SELECT seq_board.currval FROM DUAL
		</selectKey>
		INSERT INTO tbl_board (bno, title, writer, content)
		VALUES (seq_board.nextval, #{title}, #{writer}, #{content})
	</insert>
	 -->
	
	 <!-- <select id="selectBoard" resultType="BoardVO">
		SELECT bno, title, writer, regdate, updatedate, deleted, readcount
		FROM tbl_board
		WHERE deleted = '0'
		ORDER BY bno DESC
	</select> -->
	
	<!-- sql : 재사용 할 수 있는 SQL 블럭 -->
	<sql id="searchCondition">
		<trim suffix="AND">
	    	<choose>
	    		<when test="searchType == 'T'.toString()">
	    			p_name LIKE '%'||#{searchKey}||'%'
	    		</when>
	    		<when test="searchType == 'C'.toString()">
	    			p_price LIKE '%'||#{searchKey}||'%'
	    		</when>
	    		<when test="searchType == 'TC'.toString()">
	    			( p_name LIKE '%'||#{searchKey}||'%' OR p_price LIKE '%'||#{searchKey}||'%' )
	    		</when>
	    		<when test="searchType == 'W'.toString()">
	    			m_id LIKE '%'||#{searchKey}||'%'
	    		</when>
	    	</choose>
		</trim>
	</sql> 
	
	 <select id="selectBoardWithPaging" 
			resultType="BoardVO" parameterType="hashmap">
		
		SELECT no 
		, name
		, price 		 
		, rdate 
		, udate 
		, "delete" 
		, userId 
		FROM 
		(
		    SELECT rownum idx
		     		, t_no no
		            , p_name name
					, p_price price
					, p_rdate rdate
					, p_udate udate
					, p_delete "delete"
					, m_id userId
		    FROM t_product
		    WHERE    
		    	<include refid="searchCondition" />
		    	p_delete = '1'		    	
		    	AND <![CDATA[ rownum < #{ end } ]]>
		    	 		    	
		    ORDER BY t_no DESC
		)
		WHERE idx >= #{ beginning } 
		  
		
	</select> 
	<select id="selectBoardCount" parameterType="hashmap" resultType="int">
		SELECT COUNT(*) 
		FROM t_product 
		WHERE 
			<include refid="searchCondition" /> 
			p_delete = '1'
	</select>
	
	
	<!-- <insert id="insertBoard" parameterType="com.springboard.vo.BoardVO"
			useGeneratedKeys="true" keyColumn="bno" keyProperty="bno">
		INSERT INTO tbl_board (bno, title, writer, content)
		VALUES (seq_board.nextval, #{title}, #{writer}, #{content})
	</insert>
	
	<insert id="insertBoard" parameterType="BoardVO">
		<selectKey keyProperty="bno" resultType="int" order="AFTER">
			SELECT seq_board.currval FROM DUAL
		</selectKey>
		INSERT INTO tbl_board (bno, title, writer, content)
		VALUES (seq_board.nextval, #{title}, #{writer}, #{content})
	</insert>
	
	<resultMap type="BoardVO" id="boardMap">
		<id column="bno" property="bno" />
		<result column="title" property="title" />
		<result column="writer" property="writer" />
		<result column="content" property="content" />
		<result column="regdate" property="regDate" />
		<result column="updatedate" property="updateDate" />
		<result column="readcount" property="readCount" />
		<collection property="replies" column="bno" resultMap="replyMap" />
	</resultMap>
	<resultMap type="ReplyVO" id="replyMap">
		<id column="rno" property="rno" />
		<result column="replyer" property="replyer" />
		<result column="reply" property="reply" />
		<result column="replydate" property="replyDate" />
		<result column="updatedate" property="updateDate" />
		<result column="gno" property="gno" />
		<result column="sno" property="sno" />
		<result column="depth" property="depth" />
		<result column="deleted" property="deleted" />
	</resultMap>
	<select id="selectBoardByBno" parameterType="int" resultMap="boardMap">
		SELECT 
			b.bno, b.title, b.writer, b.content, b.regdate, 
			b.updatedate, b.readcount,
			r.rno, r.replyer, r.reply, r.replydate, 
			r.updatedate, r.gno, r.sno, r.depth, r.deleted
		FROM tbl_board b
		LEFT OUTER JOIN tbl_reply r
		ON b.bno = r.bno
		WHERE b.bno = #{ bno } AND b.deleted = '0'
		ORDER BY r.gno DESC, r.sno ASC
	</select>
	
	<select id="selectBoardByBno2" parameterType="int" resultType="BoardVO">
		SELECT bno, title, writer, content, regdate, updatedate, readcount
		FROM tbl_board
		WHERE bno = #{ bno } AND deleted = '0'
	</select>
	
	
	
	
	
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM tbl_board 
		WHERE bno = #{ bno }
	</delete>
	
	<update id="deleteBoard" parameterType="int">
		UPDATE tbl_board
		SET deleted = '1' 
		WHERE bno = #{ bno }
	</update>
	
	<update id="updateBoard" parameterType="BoardVO">
		UPDATE tbl_board
		SET title = #{ title }, content = #{ content }, updatedate = sysdate 
		WHERE bno = #{ bno }
	</update>
	
	<update id="updateReadCount" parameterType="int">
		UPDATE tbl_board
		SET readcount = readcount + 1
		WHERE bno = #{ bno }
	</update>  -->
	
</mapper>



