<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.usedproduct.mapper.MessageMapper">

	<resultMap type="MessageVO" id="messageMap">
		<id column="ms_no" property="msNo" />
		<result column="ms_content" property="msContent" />
		<result column="ms_date" property="msDate" />
		<result column="m_sender" property="mSender" />
		<result column="t_no" property="tNo" />
		<result column="m_receiver" property="mReceiver" />
		<result column="ms_title" property="msTitle" />
		<result column="p_name" property="pName" />
	</resultMap>

	<select id="selectListProduct" parameterType="String" resultMap="messageMap">
		SELECT t_no
		     , m_id m_sender
		     , p_name
		  FROM t_product 
		 WHERE t_no IN (
				SELECT distinct t_no
  		  		  FROM t_ms
 		 		 WHERE m_receiver = #{receiver }
               )
           AND d_state = '1'
         ORDER BY p_udate desc
	</select>
	
	<insert id="insertMessage" parameterType="MessageVO">
		<selectKey keyProperty="msNo" resultType="int" order="AFTER">
			SELECT seq_t_ms_sequence.currval FROM DUAL
		</selectKey>
		INSERT INTO t_ms(ms_no, ms_content, ms_date, m_sender, t_no, m_receiver, ms_title)
		VALUES(seq_t_ms_sequence.nextval, #{msContent }, sysdate, #{mSender }, #{tNo }, #{mReceiver }, #{msTitle })
	</insert>

</mapper>